@model StudentManagement.Models.Student
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.PageTitle</title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>

    <div>
        姓名 : @Model.Name
    </div>
    <div>
        邮箱 : @Model.Email
    </div>
    <div>
        班级名称 : @Model.ClassName
    </div>
</body>
</html>